body{margin: 0;padding: 0;color: #fff;}
img{border-radius: 10px;}
a{color: #fff;}
a:hover{color: #f00;}
.tar{text-align: right;}
.tac{text-align: center;}
.cover{background: fixed no-repeat 50% 50%;background-size: cover;}
.br10{border-radius: 10px;}
.alpha-000-5{background-color: rgba(0,0,0,.5);}
.bg1{background-image: url(/img/bg1.jpg);}
.index-title{font-size: 22px;border-bottom: 1px solid #fff;padding-bottom: 12px;}
.index{width: 500px;padding: 10px;margin: 0 auto;}
.index-article-li{margin-bottom: 10px;}
.index-article-a{font-size: 12px;}
.article-content{text-indent: 2em;line-height: 20px;font-size: 12px;letter-spacing:1px;}
.nav{margin-bottom: 10px;padding: 0 10px;text-align: right;}
.nav-a{font-size: 12px;}

