body{margin: 0;padding: 0;font-size: 12px;}
html,body,.wrap{height: 100%;}
img{border-radius: 10px;}

a{color: #000;}
a:hover{color: #f00;}
.tar{text-align: right;}
.tac{text-align: center;}
.por{position: relative;}
.fl{float: left;}
.fr{float: right;}
.cover{background: fixed no-repeat 50% 50%;background-size: cover;}
.br10{border-radius: 10px;}
.ls1{letter-spacing: 1px;}
.ti2{text-indent: 2em;}
.auto{margin:0 auto;}
.oh{overflow: hidden;}
.alpha-000-5{background-color: rgba(0,0,0,.5);}
.alpha-000-7{background-color: rgba(0,0,0,.7);}
.border-b-1-s-fff{border-bottom: 1px solid #fff;}

.nav{margin-bottom: 10px;line-height: 25px;position: fixed;width:100%;}
.nav-inner{padding: 0 10px;}
.nav a{color: #fff;}
.nav a:hover{color: #f00;}
.search-it{width: 124px;color: #666}
.common-inner{margin-top: 35px;}
.index{height: 100%;background-color: #000;}
.index-bg0{background-image: url(../imgs/bg0.jpg);}
.index-bg1{background-image: url(../imgs/bg1.jpg);}
.index-bg2{background-image: url(../imgs/bg2.jpg);}
.index-main{width: 500px;padding: 10px;}
.index,.index a{color: #fff;}
.index a:hover{color: #f00;}
.index-title{font-size: 22px;padding-bottom: 12px;}
.index-article-li{margin-bottom: 10px;}
.article{width: 80%;margin-top: 25px;}
.article-content{line-height: 20px;}
.article-back-a{line-height: 25px;color: #f00;}
.list{width: 80%;}
.list-li{line-height: 22px;}

