---
layout: default
title: 杜忠波的个人网站
---

<div class="nav">
	<a href="/">首页</a>
	<a href="/tags">标签页</a>
</div>
<div class="index">
	<ul class="index-article-ul"></ul>
	<div class="article" style="display:none">
		<h3 class="article-title"></h3>
		<div class="article-content"></div>
		<div class="article-date tar"></div>
	</div>
</div>

<script src="js/json2.js"></script>
<script src="js/jquery.js"></script>
<script src="js/underscore.js"></script>
<script src="js/backbone.js"></script>
<script src="js/backbone.localStorage.js"></script>
<script src="js/main.js"></script>

<!-- 引入数据 -->
{% include data.html %}	
<script type="text/javascript">
$(function () {
	// 文章列表模型
	var M = Backbone.Model.extend({
		defaults : {
			data : aData.article
		}
	});

	// 文章列表视图
	var V = Backbone.View.extend({
		initialize : function () {
			this.show();
		},
		show:function (model) {
			$('.index-article-ul').html(this.template(this.model.toJSON()));
		},
		template:_.template($('#template').html()),
		el:$('body'),
		events:{
			'click a':'showDetail',
		},
		showDetail:function (e) {
			var target = e.target || e.srcElement;
			var url = $(target).attr('href');
			location.hash='article'+url;
			return false;
		}
	});
	var m = new M;
	var v = new V({model:m});

	// 导航视图
	var vNav = Backbone.View.extend({
		el:$('.nav'),
		events:{
			'click a':'nav'
		},
		nav:function (e) {
			var target = e.target || e.srcElement;
			var href = $(target).attr('href');
			switch(href){
				case '/':
					location.hash = '';
					break;
				case '/tags':
					console.log('标签页');
					break;
				default:;
			}
			return false;
		}
	})
	var vNav1 = new vNav;
	// 路由与历史管理
	var Workspace = Backbone.Router.extend({
		routes: {
			'':'index',// 只有域名的情况,首页
			'article/:year/:month/:date/:title':'showDetail',// #article/kiwis
		},
		showDetail:function (year,month,date,title) {
			var url = '/'+year+'/'+month+'/'+date+'/'+title,temp;
			for(var i=0,data=aData.article,len=data.length;i<len;i++){
				temp = decodeURI(data[i].url);
				if(temp==url){
					$('.article-title').html(data[i].title);
					$('.article-content').html(data[i].content);
					$('.article-date').html(data[i].date);
					$('.article').show();
					$('.index-article-ul').hide();
				}
			}
		},
		index:function () {
			$('.article').hide();
			$('.index-article-ul').show();
		}
	});

	var w = new Workspace;
	Backbone.history.start();
});




</script>





<script type="text/template" id="template">

<% for(var i=0,len=data.length;i<len;i++) { %>
	<li class="index-article-li">
		<a href="<%= data[i].url %>" class="index-article-a"><%= data[i].title %></a>
	</li>
<% } %>

</script>