<script type="text/javascript">
$(function () {
	// 文章列表模型
	var mArticle = Backbone.Model.extend({
		defaults : {
			data : aData.article
		}
	});
	// 背景图
	var aBg = ['bg0','bg1','bg2'];
	// 首页视图
	var vIndex = Backbone.View.extend({
		initialize : function () {
			this.renderArticleList();
		},
		renderArticleList:function (model) {
			$('.index-article-ul').html(this.template(this.model.toJSON()));
		},
		template:_.template($('#template').html()),
		el:$('.index'),
		events:{
			'click .index-article-a':'showDetail',
			'click .index-title':'changeBg'
		},
		showDetail:function (e) {
			var target = e.target || e.srcElement;
			var url = $(target).attr('href');
			location.hash='article'+url;
			return false;
		},
		changeBg:function () {
			var sOld  = aBg[0];
			var first= aBg.shift();
			aBg.push(first);
			$('.wrap').addClass(aBg[0]).removeClass(sOld);
		}
	});
	var mArticle1 = new mArticle;
	var vIndex = new vIndex({model:mArticle1});

	// 导航视图
	var vNav = Backbone.View.extend({
		el:$('.nav'),
		events:{
			'click .nav-a':'nav'
		},
		nav:function (e) {
			var target = e.target || e.srcElement;
			var href = $(target).attr('href');
			switch(href){
				case '/':
					location.hash = '';
					break;
				case '/tags':
					console.log('标签页');
					break;
				default:;
			}
			return false;
		}
	})
	var vNav1 = new vNav;
	
	// 路由与历史管理
	{% include c-router.js %}

	// 将已经转义的html标签重新转回
	function toHtml (str) {
		var reg = /&lt;/g,reg2 = /&gt;/g;
		str = str.replace(reg,'<');
		str = str.replace(reg2,'>');
		return str;
	}
	function html_decode(str){   
	  var s = "";   
	  if (str.length == 0) return "";   
	  s = str.replace(/&gt;/g, ">");   
	  s = s.replace(/&lt;/g, "<");   
	  s = s.replace(/&nbsp;/g, " ");   
	  s = s.replace(/&quot;/g, "\"");   
	  s = s.replace(/<br>/g, "\n");
	  s = s.replace(/class/g,' class');
	  s = s.replace(/src/g,' src');
	  return s;   
	}
});


</script>
