<div class="page tags common-inner auto" style="display:none">
	<h3>标签页</h3>
	<ul class="tags-ul"></ul>
	<ul class="tags-articles-ul">
		
	</ul>
</div>

<script type="text/template" id="tplTags">

<% for(var i=0,len=tags.length;i<len;i++) { %>
	<li class="tags-li">
		<a class="tags-a" href="/tag=<%= tags[i] %>">
			<%= tags[i] %>
		</a>		
	</li>
<% } %>

</script>

<script type="text/template" id="tplTagArticles">

<% for(var i=0,len=articleTitle.length;i<len;i++) { %>
	<li class="tags-articles-li">
		<a class="tags-articles-a" href="<%= articleTitle[i].url %>">
			<%= articleTitle[i].title %>
		</a>		
	</li>
<% } %>

</script>
